/* fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,900');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    background-color: #2c1919;
}


/*navigation bar*/

.navi {
    min-height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navi::before {
    content: " ";
    display: block;
    width: 100%;
    height: 8px;
    background-color: #FF7525;
}

.navi a {
    font-family: Roboto, sans-serif;
}

.nav-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-flex-logo {
    padding-top: 8px;
    margin-top: 0;
}

.logo {
    display: inline-block;
    height: 46px;
    width: 269px;
    background-image: url('../img/logos/logo-full.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.logo {
    -webkit-animation: slide-logo .4s ease;
    animation: slide-logo .4s ease;
}

@-webkit-keyframes slide-logo {
    0% {
        -webkit-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

keyframes slide-logo {
    0% {
        -webkit-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .logo {
        display: inline-block;
        height: 46px;
        width: 60px;
        background-image: url('../img/logos/logo.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 15px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
    }
}

.logo:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px)
}

.nav-flex-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-top: 20px;
    margin-top: 0;
    text-align: center;
}

.nav-flex-item:last-child {
    border-left: 1px solid #e5e5e5;
}

.nav-flex-item a {
    color: #484848;
}

.nav-flex-item.nav-flex-btn a {
    color: #fff;
}

.nav-flex-item.nav-flex-btn a:hover {
    color: #fff;
}

.nav-flex-logotype {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-flex: .5;
    -ms-flex-positive: .5;
    flex-grow: .5;
    margin-top: 20px;
}

.nav-flex-location {
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
    text-align: left;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    letter-spacing: 1px;
}

.nav-flex-location a {
    color: #9B9B9B;
    padding: 20px 15px;
    font-size: 16px;
}

.nav-flex-location a.active,
.nav-flex-location a.active:hover {
    color: #ff7525;
}

.nav-flex-btn {
    padding-top: 13px;
    margin-top: 0;
}

.collapse-navi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.collapse-navi>.mobile-menu-bars {
    display: none;
}

.dropdown-toggle {
    cursor: pointer;
}


/*dropdown*/

.open>.dropdown-menu {
    animation-name: slidenavAnimation;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: .3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: .3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
    -webkit-transform-origin: 0;
    transform-origin: 0 0;
}

@keyframes slidenavAnimation {
    from {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    to {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-webkit-keyframes slidenavAnimation {
    from {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    to {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

ul.dropdown-menu a {
    -webkit-animation: slide-it-in .3s ease;
    animation: slide-it-in .3s ease;
}

@-webkit-keyframes slide-it-in {
    0% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

keyframes slide-it-in {
    0% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

.nav-flex-item.dropdown ul.dropdown-menu {
    padding: 0;
    border-radius: 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 0;
    width: 69%;
}

.nav-flex-item.dropdown ul.dropdown-menu li:nth-child(odd) {
    background-color: #f8f8f8;
}

.nav-flex-item.dropdown ul.dropdown-menu li a {
    padding: 15px;
    color: #484848;
}

.dropdown ul.dropdown-menu li.active a,
.dropdown ul.dropdown-menu li a:hover {
    background-color: #ff7525;
    color: #fff;
}

.dropdown ul.dropdown-menu li.active a {
    -webkit-animation: appear-active .4s ease;
    animation: appear-active .4s ease;
}

@-webkit-keyframes appear-active {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-flex-item a:hover,
.nav-flex-item a:active,
.nav-flex-item a:focus {
    text-decoration: none;
    color: #111;
}

.open>a {
    color: #111;
}

@media (max-width: 767px) {
    .nav-flex-logo {
        text-align: center;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .nav-flex-logo a {
        margin: auto;
    }
    .navi .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .nav-flex-location {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .collapse-navi {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-left: 8px;
        padding-right: 8px;
    }
    .nav-flex-btn {
        margin-top: 13px;
    }
    .collapse-navi>.mobile-menu-bars {
        display: inline-block;
        margin-top: 20px;
        margin: auto;
    }
    .collapse-navi>.mobile-menu-bars a {
        color: #484848;
        margin: auto;
        padding: 20px 0;
    }
    .collapse-navi>.mobile-menu-bars a:hover,
    .collapse-navi>.mobile-menu-bars a:active,
    .collapse-navi>.mobile-menu-bars a:focus {
        text-decoration: none;
    }
    .collapse-navi>.nav-flex-item {
        display: none;
    }
    .nav-flex-item.dropdown ul.dropdown-menu {
        width: 100%;
        position: fixed;
        top: 60px;
        left: 0;
        margin-top: 6px;
    }
}


/*mobile menu*/

.mobile-menu .modal-dialog {
    margin: 0;
    color: #fff;
    text-align: left;
}

.mobile-menu .modal-header button.close {
    color: #fff;
    opacity: 100%;
}

.mobile-menu a {
    color: #fff;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 1px;
}

.mobile-menu ul li {
    margin: 15px auto;
}

.mobile-menu .modal-content {
    border-radius: 0;
    height: 100vh;
    background-color: #FF7525;
    border: 0;
}

.mobile-menu .modal-header {
    border-bottom: 0 solid transparent;
    text-align: right;
    padding: 20px 35px 0 0;
}

.mobile-menu .modal-footer {
    border-bottom: 0 solid transparent;
}

.mobile-menu .modal-body .container {
    padding: 0 50px
}

.mobile-menu .modal-body ul {
    -webkit-animation: slide-it-in .8s ease;
    animation: slide-it-in .8s ease;
}


/*sign in up popup*/

.sign-up .modal-content {
    border-radius: 0;
    border: 0;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    margin: auto;
    width: 420px;
}

.sign-up .modal-header {
    border-bottom: 0 solid transparent;
}

.sign-up h4 {
    font-size: 2em;
}

.sign-up .modal-footer {
    text-align: center;
    border-top: 0 solid transparent;
}

.sign-up .modal-footer .btn {
    width: 100%;
    margin: 0 auto 15px;
    text-align: left;
    border-radius: 0;
}

@media (max-width:767px) {
    .sign-up .modal-dialog {
        margin: 0;
        color: #484848;
        text-align: left;
    }
    .sign-up .modal-content {
        border-radius: 0;
        border: 0;
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        width: 100%;
        height: 100vh;
    }
}


/* popup animations */

.fade-slide {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.fade-slide.in {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.fade-scale {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .2s cubic-bezier(0, 0, 0.2, 1);
    transition: all .2s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transform: scale(.2);
    transform: scale(.2);
    -webkit-transform-origin: top;
    transform-origin: top;
}

.fade-scale.in {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@-webkit-keyframes slide-it-in {
    0% {
        -webkit-transform: translateX(69px);
        transform: translateX(69px);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

keyframes slide-it-in {
    0% {
        -webkit-transform: translateX(69px);
        transform: translateX(69px);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}


/*jumbotron*/

.main-jumbotron {
    background-color: #4E2D2D;
    color: #fff;
    min-height: 50vh;
    font-family: Roboto, sans-serif;
    background-image: url('../img/illo-colors.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    margin-top: 60px;
    margin-bottom: 0;
}

.main-jumbotron h1 {
    font-size: 6em;
    font-weight: 900;
    text-shadow: 0 3px 40px rgba(0, 0, 0, .4);
    margin-bottom: 20px;
}

.main-jumbotron h4 {
    font-size: 2em;
    font-weight: 400;
    text-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

.vc-align--parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 50vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.vc-align--child {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.vb-align--child {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

@media (max-width: 767px) {
    .main-jumbotron {
        background-color: #4E2D2D;
        color: #fff;
        min-height: 21vh;
        font-family: Roboto, sans-serif;
        background-image: url('../img/illo-colors.png');
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: left;
        padding: 45px 15px;
    }
    .main-jumbotron h1 {
        font-size: 4em;
        font-weight: 900;
    }
    .main-jumbotron h4 {
        font-size: 1.5em;
        font-weight: 400;
    }
    .vc-align--parent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 21vh;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .vc-align--child {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

.city-jumbotron .jumbotron {
    margin-bottom: 0;
    padding: 80px 0 30px;
    color: #fff;
    background-image: url('../img/city/montreal-hires.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 300px;
    text-align: center;
}

.city-jumbotron h2 {
    text-shadow: 0 3px 40px rgba(0, 0, 0, .7);
    font-size: 3em;
}

.city-jumbotron .vc-align--parent-mini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.city-jumbotron.vc-align-child-mini {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media (max-width: 767px) {
    .city-jumbotron .jumbotron {
        padding: 120px 0 60px;
        min-height: 100px;
    }
    .city-jumbotron h2 {
        text-shadow: 0 3px 40px rgba(0, 0, 0, .7);
        font-size: 2em;
    }
}


/* buttons */

.btn {
    border-radius: 24px;
}

.btn-primary {
    color: #fff;
    background-color: #FF7525;
    border-color: #FF7525;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #fa8d4e;
    border-color: #fa8d4e;
}

.btn-primary:hover {
    color: #fff;
    background-color: #fa8d4e;
    border-color: #fa8d4e;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fa8d4e;
    border-color: #fa8d4e;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #d15c18;
    border-color: #d15c18;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #c5c5c5;
    border-color: #c5c5c5;
}

.btn-primary .badge {
    color: #FF7525;
    background-color: #fff;
}


/*facebook btn*/

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-facebook:focus,
.btn-facebook.focus {
    color: #fff;
    background-color: #8b9dc3;
    border-color: #8b9dc3;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #8b9dc3;
    border-color: #8b9dc3;
}

.btn-facebook:active,
.btn-facebook.active,
.open>.dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #8b9dc3;
    border-color: #8b9dc3;
}

.btn-facebook:active:hover,
.btn-facebook.active:hover,
.open>.dropdown-toggle.btn-facebook:hover,
.btn-facebook:active:focus,
.btn-facebook.active:focus,
.open>.dropdown-toggle.btn-facebook:focus,
.btn-facebook:active.focus,
.btn-facebook.active.focus,
.open>.dropdown-toggle.btn-facebook.focus {
    color: #fff;
    background-color: #2b406c;
    border-color: #2b406c;
}

.btn-facebook:active,
.btn-facebook.active,
.open>.dropdown-toggle.btn-facebook {
    background-image: none;
}

.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled.focus,
.btn-facebook[disabled].focus,
fieldset[disabled] .btn-facebook.focus {
    background-color: #c5c5c5;
    border-color: #c5c5c5;
}

.btn-facebook .badge {
    color: #3b5998;
    background-color: #fff;
}


/* google btn */

.btn-default.btn-google {
    color: #fff;
    background-color: #db4437
}

.btn-default.btn-google:focus,
.btn-default.btn-google.focus {
    color: #fff;
    background-color: #fc5041
}

.btn-default.btn-google:hover {
    color: #fff;
    background-color: #fc5041
}


/* city tiles */

.city-tiles {
    padding: 60px 0 30px;
    background-color: #fff;
}

.city-tiles h2 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 3.5em;
}

.city-tiles p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    margin: 23px auto;
}

@media (max-width:767px) {
    .city-tiles {
        padding: 30px 0 30px;
        background-color: #fff;
    }
    .city-tiles h2 {
        font-size: 2.3em;
    }
    .city-tiles h4 {
        font-size: 1.2em;
    }
    .city-tiles p {
        font-size: 1.5em;
    }
}

.tile {
    height: 250px;
    width: 100%;
    background-color: #ccc;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    border-radius: 8px;
}

.tile:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
    -webkit-transition-delay: 0s !important;
    transition-delay: 0s !important;
}

.tile h3 {
    color: #fff;
    position: absolute;
    font-size: 2.5em;
    margin-top: 160px;
    margin-left: 30px;
    text-shadow: 0 0px 20px rgba(0, 0, 0, .5);
}


/* city burgers */

.city-burgers {
    padding: 30px 0;
    background-color: #fff;
}

.city-burgers h2 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 3.5em;
}

.city-burgers h4 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #ff7525;
}

.city-burgers p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    margin: 23px auto;
}

@media (max-width:767px) {
    .city-burgers {
        padding: 15px 0;
        background-color: #fff;
    }
    .city-burgers h2 {
        font-size: 2.3em;
    }
    .city-burgers h4 {
        font-size: 1.2em;
    }
    .city-burgers p {
        font-size: 1.5em;
    }
}


/*cards*/

.card-container {}

.card {
    display: block;
    position: relative;
    margin: 20px auto;
}

.burger-image {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
}

.burger-image:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-filter: brightness(.3);
    filter: brightness(.69);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.award-badge {
    position: absolute;
    width: 70px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    right: 20px;
    top: 15px;
}

.card .card-content {}

.card .card-content h3 {
    font-size: 2em;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 32px;
    max-height: 64px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card .card-content h5 {
    font-size: 1.2em;
    color: #ff7525;
    font-weight: bold;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    max-height: 32px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


/* burger profile */

.burger-profile {
    padding: 120px 0 60px;
    background-color: #fff;
}

.burger-profile h2 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 3.5em;
}

.burger-profile h4 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #ff7525;
}

.burger-profile p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}

.burger-profile li {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.6em;
}

.burger-photo {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.restaurant-photo img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.burger-profile ul li,
{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}

.burger-profile ul.social-links li {
    margin: 20px auto;
    margin-right: 15px;
}

.burger-profile ul.social-links li a {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: #ff7525;
}

.burger-profile ul.social-links li a.fb-color{
    color: #3b5998;
}

.burger-profile ul.social-links li a.ig-color{
    color: #bc2a8d;
}


.burger-profile ul.social-links li a.tw-color{
    color: #00aced;
}


@media (max-width:767px) {
    .burger-profile {
        padding: 80px 0 60px;
        background-color: #fff;
    }
    .burger-profile h2 {
        font-size: 2.3em;
    }
    .burger-profile h4 {
        font-size: 1.2em;
    }
    .burger-profile p {
        font-size: 1.1em;
    }
    .burger-profile ul li {
        font-size: 1.1em;
    }
    .burger-photo {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 160px;
        margin-bottom: 10px;
        border-radius: 8px;
    }
    .burger-profile .owl-next,.burger-profile .owl-prev{
        display: none;
    }
    
}


/*action bar*/

.action-bar {
    display: block;
    min-height: 48px;
    width: 100%;
    background-color: #fff;
    z-index: 3;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 1px solid #e5e5e5;
    padding-top: 13px;

}

@media (max-width:767px) {
    .action-bar ul li.buy {
        float:right;
    }
}


/* partners */

.partners {
    padding: 30px 0;
    background-color: #f5f5f5;
    background-image: url(../img/illo-partners.svg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 140%;
}

.partners h2 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 3.5em;
}

.partners p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    margin: 23px auto;
}

@media (max-width: 767px) {
    .partners {
        padding: 30px 0;
        background-color: #f5f5f5;
        background-image: url(../img/illo-partners.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .partners h2 {
        font-size: 2.3em;
    }
    .partners h4 {
        font-size: 1.2em;
    }
    .partners p {
        font-size: 1.5em;
    }
}


/*footer*/

.footer {
    padding: 30px 0;
    background-color: #4E2D2D;
    color: #fff;
    background-image: url(../img/illo-footer.svg);
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: -20%;
}

.footer p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin: 23px auto;
    line-height: 1.6em;
}

.footer ul li {
    line-height: 28px;
}

.footer a {
    color: #fff;
}

.footer h3 {
    color: #FAA21E;
    margin-bottom: 27px;
}

.footer h6,
.footer h6 a {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: .86em;
    color: #FAA21E;
    line-height: 1.3em;
    margin-top: 30px;
}

@media (max-width: 767px) {
    .footer {
        padding: 30px 0;
        background-color: #4E2D2D;
        color: #fff;
        background-image: url(../img/illo-footer.svg);
        background-size: 269%;
        background-repeat: no-repeat;
        background-position: center left;
    }
}


/*owl carousel */

.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: relative;
    margin: -30px auto auto;
}

.owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-dots .owl-dot span {
    width: 44px;
    height: 4px;
    margin: 5px 8px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    border-radius: 0;
    opacity: .69;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background: #fc8e4e;
    opacity: 1;
}