// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i');

// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Re-define BS colors
$orange: #ED5D28;
$yellow: #F78C26;
$green:#468B40;

// Define new colors
$brown:#4A2B2B;
$beige:#FFEBC6;

// Map colors
$colors: ("orange":#ED5D28, "yellow":#F78C26, "green":#468B40, "beige":$beige, "brown":$brown);

//Map theme-colors
$theme-colors: ("primary": $orange, "success":$green, "warning":$yellow, "dark":$brown, "light":$beige);

// customize theme
$body-bg: white;
$body-color: $brown;
$font-family-sans-serif: 'IBM Plex Mono',
monospace;
$headings-font-family:'IBM Plex Mono',
monospace;
$input-font-family: 'IBM Plex Mono',
monospace;
$font-family-base: $input-font-family;
$headings-color: $brown;
$headings-font-weight: 700;
$input-placeholder-color: lighten($brown, 15%);
$input-focus-color: $brown;
$input-focus-bg:$beige;
$input-focus-border-color:$yellow;
$link-color: darken($orange, 10%);
$link-hover-color:darken($link-color, 15%);
$component-active-bg: $orange;
$custom-control-indicator-checked-bg: $orange;
$custom-control-indicator-active-bg:$orange;
$custom-control-indicator-checked-border-color:$orange;
$navbar-light-color: $brown;
$navbar-light-hover-color:$orange;
$navbar-light-active-color:$orange;
$navbar-light-toggler-border-color: transparent;
$navbar-nav-link-padding-x: 1rem;
$dropdown-link-active-bg: $orange;
$jumbotron-bg:white;
$card-border-width:1px;
$card-border-color:#e5e5e5;
$btn-padding-x:1.5rem;
$btn-padding-x-lg:2.25rem;

// Bootstrap
@import "../bootstrap/scss/bootstrap.scss";

// Typography
h1 {}

h2 {
    font-size: $font-size-base * 1.25;
    color: $orange;
}

h3 {
    font-size: $font-size-base * 2.25;
    margin-bottom: $spacer*1.5;
}

// Navbar
.alert-language{
    padding-left:0;
    padding-right:0;
    margin-bottom: 0;
    border:0;
    border-radius: 0;
    background-color: #444;
    a{
        text-decoration: underline;
    }
}
.sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1020;
}

.logo {
    display: block;
    width: 250px;
    max-height: 70px;

    @include media-breakpoint-down(sm) {
        width: 50px;
        max-height: 50px;
    }
}


.nav-link {
    letter-spacing: -1;
}

.dropdown-menu {
    border-radius: 0.5rem;
    box-shadow: 0 .75rem 2rem rgba($black, .05);
}

.jumbotron {
    background: url(../img/characters/jumbo-row-1.png) 500px 0 no-repeat, url(../img/characters/jumbo-row-2.png) 0 100% repeat-x;
    background-size: 1200px, 1200px;
    min-height: 420px;

    h3 {
        font-size: $font-size-base*3.25;
    }

    @include media-breakpoint-down(sm) {
        background: none, url(../img/characters/jumbo-row-2.png) 10% 100% no-repeat;
        background-size: 0, 190%;
        min-height: 290px;

        h3 {
            font-size: $font-size-base*2.25;
        }
    }
}

section.winners {
    padding: $spacer*4 0;
    background: url(../img/characters/4.png) 105% 5% no-repeat, rgb(248, 239, 239);
    background: url(../img/characters/4.png) 105% 5% no-repeat, linear-gradient(0deg, rgba(248, 239, 239, 1) 36%, rgba(254, 251, 244, 1) 70%, rgba(255, 255, 255, 1) 100%);
    background-size: 240px, 100%;

    @include media-breakpoint-down(sm) {
        background-size: 0;
        padding: $spacer*2 0;
    }
}

section.stats {
    padding: $spacer*4 0;
    background: url(../img/characters/12.png) 0% 5% no-repeat, white;
    background-size: 240px;

    @include media-breakpoint-down(sm) {
        background-size: 0;
        padding: $spacer*2 0;
    }

    .statistic {
        border: 4px solid $orange;
        display: flex;
        flex-direction: column;
        padding: $spacer;
        margin-bottom: $spacer;
    }
}

section.where {
    padding: $spacer*4 0;
    background: url(../img/characters/10.png) 105% 5% no-repeat, white;
    background-size: 240px;

    @include media-breakpoint-down(sm) {
        background-size: 0;
        padding: $spacer*2 0;
    }
}

section.join {
    padding: $spacer*4 0;
    background: url(../img/characters/5.png) 0% 5% no-repeat, white;
    background-size: 240px;

    @include media-breakpoint-down(sm) {
        background-size: 0;
        padding: $spacer*2 0;
    }
}

.nav-tabs {
    border-bottom: none;
    padding-bottom: $spacer*2;
    align-items: center;

    li.nav-item {
        @include media-breakpoint-down(sm) {
            flex: 1 1 50%;
            text-align: left;
        }
    }

    .nav-link {
        color: lighten($brown, 30%);
        border: none;
        border-bottom: transparent solid 4px;
        padding: $spacer*.5 0;
        margin: auto $spacer*1.5 auto 0;

        @include hover-focus {
            border-color: transparent;
        }

        @include media-breakpoint-down(sm) {
            border-bottom: none;
            padding: $spacer*.5;
            margin: $spacer*.5 auto;
            border-radius: 0.25rem;
        }

    }

    .nav-link.active {
        color: $brown;
        background-color: transparent;
        border-color: transparent;
        border-bottom: $orange solid 4px;

        @include media-breakpoint-down(sm) {
            border-bottom: none;
            background-color: $orange;
            color: white;
        }
    }
}

.card {
    margin-bottom: $spacer*2;
    transition: all 0.2s ease-out;

    h4 {
        color: $orange;
        font-size: $font-size-base;
    }

    h5 {
        font-size: $font-size-base*1.725;
    }

    a {
        i {
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
        }

        &:hover i {
            transform: translateX(5px);
        }
    }

    &:hover {
        box-shadow: 0 6px 10px rgba($black, .16)
    }
}

%card-prize-shared {
    width: 100%;
    text-align: center;
    color: white;
    background: grey;
    padding: $spacer*0.25 0;
}

.card-prize {
    @extend %card-prize-shared;
}

.orange {
    @extend %card-prize-shared;
    background: $orange;
}

.green {
    @extend %card-prize-shared;
    background: $green;
}

.blue {
    @extend %card-prize-shared;
    background: $blue;
}

.yellow {
    @extend %card-prize-shared;
    background: $yellow;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.deco {
    display: block;
    height: 12px;
    width: 100%;
    background-color: $orange;
}

a img.logo-register-page {
    height: 120px;
    width: 269px
}

.registration-header-artwork {
    background-image: url('../img/characters/group-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 120px;
    width: 50%;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.mobile-header-artwork {
    background-image: url('../img/characters/group-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    min-height: 250px;
    margin-bottom: $spacer * 1;
}

.banner {
    background-image: url('../img/characters/group-full.png');
    background-repeat: no-repeat;
    background-position: 10% bottom;
    background-size: 150%;
    min-height: 200px;
    width: 100%;
    margin-bottom: $spacer;

    @include media-breakpoint-down(sm) {
        background-size: 350%;
        background-position: 5% bottom;
        min-height: 150px;
    }
}

.media-logo {
    width: 33%;
    max-height: 100px;
    margin-bottom: $spacer;
}

.privacy {

    p,
    li {
        font-size: $font-size-base*0.86;
    }

    h3 {
        font-size: $font-size-base;
        margin-top: $spacer*2;
        margin-bottom: $spacer*0.69;
    }
}

label {
    color: $brown;
    font-weight: $font-weight-bold;
    font-size: $font-size-base * 0.9;
}

.form-control {
    display: block;
    width: 100%;
    height: $input-height;
    padding: $input-padding-y $input-padding-x;
    color: $brown;
    background-color: transparent;
    border: 3px solid $brown;

}

select.form-control {
    &:focus::-ms-value {
        // Suppress the nested default white text on blue background highlight given to
        // the selected option text when the (still closed) <select> receives focus
        // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
        // match the appearance of the native widget.
        // See https://github.com/twbs/bootstrap/issues/19398.
        color: $input-color;
        background-color: transparent;
    }
}

.custom-select {
    color: $brown;
}

select {

    &.custom-select {
        border: 3px solid $brown;
        background: transparent;

        &:focus {
            border-color: #FFDEAD;
            background: $beige;
        }
    }
}

.btn-primary,
.btn-success,
.btn-outline-primary {
    box-shadow: 0 4px 12px rgba($black, 0.25);
}

.btn-outline-primary {
    background-color: white;
}

.price {
    margin-bottom: 0;
}

footer {
    .top {
        min-height: 250px;
        background-image: url("../img/characters/group-footer.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 110%;

        @include media-breakpoint-down(sm) {
            min-height: 150px;
            background-size: 250%;
            background-position: 0;
        }

        margin-top:$spacer * 1;
        margin-bottom:$spacer * 3;
    }

    @keyframes animatedBackground {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 100% 0;
        }

        100% {
            background-position: 0 0;
        }
    }

    .scrolling {
        background-repeat: repeat-x;
        animation: animatedBackground 20s linear infinite;
    }

    .bottom {
        padding-top: $spacer*3;
        padding-bottom: $spacer*3;
        background-color: $brown;

        a {
            color: $yellow;

            &:hover {
                color: $beige;
            }
        }

        hr {
            border: 0.5px solid $beige;
        }

        @include media-breakpoint-down(sm) {}

        li.list-inline-item:not(:last-child) {
            margin-right: $spacer*2;
            margin-bottom: $spacer;
        }
    }
}

// dashboard css

body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    @include media-breakpoint-down(sm) {
        position: relative;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;

    /* Scrollable contents if viewport is shorter than content. */
    @include media-breakpoint-down(sm) {
        height: auto;
    }

}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;

    i {
        color: #999;
    }
}

.sidebar .nav-link.active {
    color: $orange;
    font-weight: 700;
}

.sidebar .nav-link.active i {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.logo-dashboard {
    width: 50px;
    height: 50px;
}

[role="main"] {
    padding-top: 69px;
    /* Space for fixed navbar */
    @include media-breakpoint-down(sm) {
        padding-top: 0;
    }
}
