// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Re-define BS colors
$orange: #ED5D28;
$yellow: #FAA21E;
$green:#A9AE38;
$blue: #2F4ADE;
$red:#B32029;

// Define new colors
$brown:#411F1F;
$brown2:#592B2B;
$gold:#AB7029;
$beige:#FFE8C9;
$saputo:#CF3339;
$light:#FFF6EA;

// Map colors
$colors: ("orange":#ED5D28, "yellow":#F78C26, "green":#468B40, "beige":$beige, "brown":$brown, "blue": #2F4ADE, "gold":$gold, "saputo":$saputo);

//Map theme-colors
$theme-colors: ("primary": $orange, "success":$green, "warning":$yellow, "dark":$brown, "light":$light, "info":$blue);

// customize theme
$body-bg: white;
$body-color: $brown;
$font-family-sans-serif: 'IBM Plex Sans',
sans-serif;
$headings-font-family:'IBM Plex Mono',
monospace;
$input-font-family: 'IBM Plex Sans',
sans-serif;
$font-family-base: $input-font-family;

$body-color: $brown;
$navbar-brand-font-size: $font-size-base;
$navbar-light-color:$brown;
$navbar-light-hover-color:$orange;
$navbar-light-active-color:$orange;
$navbar-light-brand-color:$brown;
$navbar-light-brand-hover-color:$orange;
$navbar-light-toggler-border-color: transparent;
$navbar-nav-link-padding-x: $spacer;
$btn-padding-x-lg: $spacer*4;
$btn-border-radius-lg: 12px;
$btn-font-weight:bold;
$navbar-toggler-padding-x:0;
$link-color:$orange;
$link-hover-color: darken($link-color, 15%);
$input-border-color: $brown;
$input-border-width:2px;
$input-padding-y: 20px;
$input-border-radius: 4px;
$input-color: $brown;
$input-focus-border-color:$yellow;
$input-focus-color: $brown;
$input-placeholder-color:#a89a89;
$component-active-bg: $orange;
$input-focus-box-shadow:0 0 0 0.2rem rgba(247, 190, 85, 0.47);
$custom-control-indicator-border-color:$brown;
$custom-control-indicator-checked-bg: $orange;
$custom-control-indicator-active-bg:$orange;
$custom-control-indicator-checked-border-color:$orange;
$label-margin-bottom: 5px;
$modal-fade-transform: translate(0, 50%);
$modal-show-transform: none;
$modal-transition: transform .25s ease-out;
$modal-scale-transform:scale(1.02);
$modal-inner-padding: 1.5rem;
$dropdown-link-hover-color:white;
$dropdown-link-hover-bg:$orange;
$dropdown-link-active-bg:darken($orange, 5%);
$dropdown-padding-y: $spacer;
$dropdown-border-radius:$spacer;
$dropdown-box-shadow:0 1rem 1rem rgba(65, 31, 31, .16);
$modal-content-border-radius:$spacer*1.5;


// Bootstrap
@import "../bootstrap/scss/bootstrap.scss";

$smooth-shadow: 0 0.8px 3.6px rgba(0, 0, 0, 0.035),
0 2.1px 10px rgba(0, 0, 0, 0.05),
0 5.1px 24.1px rgba(0, 0, 0, 0.065),
0 17px 80px rgba(0, 0, 0, 0.1);


// Typography

h1 {
    font-size: 55px;
    color: $brown;
    font-weight: bold;
    line-height: 1;

    @include media-breakpoint-down(sm) {
        font-size: 32px;
        line-height: 1.1;
    }
}

h2 {
    font-size: 36px;
    color: $brown;
    font-weight: bold;
    margin-bottom: $spacer*1.25;

    @include media-breakpoint-down(sm) {
        font-size: 24px;
    }
}

h3 {
    font-size: 20px;
    color: $brown;
}

span.supertitle {
    display: block;
    color: #ED5D28;
    font-size: 24px;
    margin-bottom: 12px;

    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }
}

.navbar-brand,
.nav-link {
    font-weight: bold;
    font-size: 14px;
}

.navbar-logo {
    width: 44px;
    height: auto;
    margin-right: $spacer*.5;

    @include media-breakpoint-down(sm) {
        width: 60px;
    }
}


.btn {
    box-shadow: 4px 4px 0 $brown;
    transform-origin: center;

    &:active {
        box-shadow: none;
    }
}

// Artwork
.logo-main {
    width: 160px;
    height: auto;
    margin-bottom: 10px;
    transition: .15s all ease-in;

    &:hover,
    &:active {
        transform: scale(.96) rotate(1deg);
    }

    @include media-breakpoint-down(sm) {
        max-width: 120px;
    }

    &.logo-sm {
        width: 115px;
    }
}

// Sections
section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
    background-color: white;

    @include media-breakpoint-down(sm) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.dotted-box {
    display: block;
    position: relative;
    width: 100%;
    padding: $spacer*2;
    border-radius: 24px;
    border: 3px dotted $brown;
    box-shadow: $smooth-shadow;



}

a.burger-leader {
    display: inline-block;
    width: 15%;
    color: $brown;
    text-decoration: none;
    margin-bottom: $spacer*2;

    img {
        border-radius: 16px;
        margin-bottom: $spacer/2;
        transition: all .15s ease-in-out;
        object-fit: cover;
        height: 140px;
        width: 100%;

        &:hover {
            transform: rotate(2deg);
            opacity: .9;
        }

        @include media-breakpoint-down(sm) {
            width: 69%;
        }
    }

    @include media-breakpoint-down(lg) {
        width: 30%;
    }

    @include media-breakpoint-down(md) {
        width: 40%;
    }

    @include media-breakpoint-down(sm) {
        text-align: center;
        width: 100%;
    }
}

.feature-video {
    border-radius: $spacer;
    box-shadow: $smooth-shadow;
    position: relative;
    z-index: 1;
    outline-offset: $spacer*2;
    outline: 3px dotted $orange;
    margin-top: $spacer*3;
    margin-bottom: $spacer*3;
}

a.logo-partner {
    width: 25%;

    img {
        object-fit: contain;
        width: 100%;
        height: 40px;

    }

    @include media-breakpoint-down(sm) {
        width: 60%;
        margin-bottom: $spacer;
    }

}

.filter-bar {
    padding: $spacer/2;

    a.btn-filter {
        display: inline-block;
        background-color: white;
        border: 2px dotted $brown;
        padding: $spacer/2;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 0;
        text-align: center;
        cursor: pointer;
        transition: all .15s ease-in-out;
        &:hover{
            background-color: $light;
        }
    }
}

.grid-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.grid-item {
    display: block;
    width: 20%;
    margin-bottom: 40px;
    text-decoration: none;
    position: relative;
    padding-left:10px;
    padding-right:10px;

    a.grid-item-link {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        text-decoration: none;
    }

    .img-item {
        border-radius: 12px;
        margin-bottom: 20px;
        width: 100%;
        height: 150px;
        object-fit: cover;
        transition: .15s all ease-out;

        @include media-breakpoint-down(xs) {
            height: 200px;
        }
    }

    .logo-saputo-grid {
        display: inline-block;
        position: absolute;
        top: 16px;
        left: 24px;
        width: 50px;
        z-index: 1;
    }

    .add-favourite {
        display: inline-block;
        position: absolute;
        top: 16px;
        right: 24px;
        z-index: 1;
    }

    &:hover .img-item {
        opacity: .9;
        transform: rotate(2deg);
    }

    .price,
    .distance {
        color: $brown;
        font-size: 14px;
        font-weight: normal;
        ;
        margin-top: 10px;
    }
    .grid-item__footer{
        display: flex;
        justify-content: space-between;
        border-top:1px dashed $brown; 
        margin-top:$spacer;
        margin-bottom:$spacer;       
    }

    @include media-breakpoint-down(lg) {
        width: 25%;
    }

    @include media-breakpoint-down(md) {
        width: 33%;
    }

    @include media-breakpoint-down(sm) {
        width: 50%;
    }

    @include media-breakpoint-down(xs) {
        width: 100%;
    }

    &.for-map {
        width: 100%;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        text-decoration: none;;
    }
}

.img-map {
    height: 120px;
    max-width: 240px;
    margin-bottom: 12px;
    border-radius: 12px;
}

.resto-name{
    display: block;
    color:$orange;
    font-weight: bold;
}
.item-name{
    display: block;
    color:$brown;
    font-weight: bold;
    font-size: $font-size-base*1.5;
}

.btn-fave, .btn-fave-account {
    z-index: 1;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    right: 32px;
}

// Search bar styles Flexselect
.flexselect {
    background-color: white;
    border: 2px dotted $brown;
    padding: $spacer/2;
    width: 100%;
    border-radius: 8px;
}

.flexselect_dropdown {
    display: none;
    position: absolute;
    z-index: 999999;
    margin: 0;
    padding: 0;
    border: 1px solid WindowFrame;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: Window;
    color: WindowText;
    text-align: left;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.flexselect_dropdown ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.flexselect_dropdown li {
    margin: 0px;
    padding: 15px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: Menu;
    overflow: hidden;
}

.flexselect_dropdown li.disabled {
    cursor: not-allowed;
    color: GrayText;
}

.flexselect_selected {
    background-color: #EB422E;
    color: white;
}

// Footer
footer {
    background-color: $light;
    color: $brown;
    border-top: 3px dotted $brown;

    h6 {
        color: $orange;
        margin-bottom: 25px;
        font-family: "IBM Plex Sans";
        font-weight: bold;
    }

    ul li {
        margin-bottom: 15px;
        font-size: 14px;
    }

    a {
        color: $brown;
        text-decoration: none;

        &:hover {
            color: $orange;
            text-decoration: none;
        }
    }

    color:$beige;
    font-size: 11px;

    li.list-inline-item {
        font-size: 11px;
        margin-bottom: 0;
    }
}

.subfooter {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 20px;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $yellow;
        bottom: 96px;
        transform: rotate(-1deg);
    }

    .floor {
        display: block;
        position: absolute;
        bottom: 0;
        height: 150px;
        width: 100%;
        background-color: $brown2;
    }
}

.footer-artwork {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    z-index: 1;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
        object-fit: cover;
        object-position: 69%;
        height: 220px;
    }
}

.logo-footer {
    width: 120px;

    @include media-breakpoint-down(sm) {
        width: 80px;
    }
}

// live festival css

// results grid
.grid-burgers {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}


a.grid-burger__item {
    display: inline-block;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
    text-decoration: none;
    position: relative;

    .img-burger {
        border-radius: 12px;
        margin-bottom: 20px;
        width: 100%;
        height: 150px;
        object-fit: cover;
        transition: .25s all ease-out;

        @include media-breakpoint-down(xs) {
            height: 200px;
        }
    }

    .logo-saputo-grid {
        display: inline-block;
        position: absolute;
        top: 16px;
        left: 24px;
        width: 50px;
        z-index: 1;
    }

    &:hover .img-burger {
        opacity: .8;
        transform: translateY(-5px);
    }

    .resto-name {
        display: block;
        color: $orange;
        font-weight: 700;
    }

    .burger-name {
        display: block;
        color: $brown;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.25;
    }

    .price,
    .distance {
        color: lighten($brown, 30%);
        font-size: 14px;
        margin-top: 10px;
    }

    @include media-breakpoint-down(lg) {
        width: 25%;
    }

    @include media-breakpoint-down(md) {
        width: 33%;
    }

    @include media-breakpoint-down(sm) {
        width: 50%;
    }

    @include media-breakpoint-down(xs) {
        width: 100%;
    }

    &.for-map {
        width: 100%;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

// map
#map {
    width: 100%;
    height: 100vh;
}

.img-map {
    height: 120px;
    width: 200px;
    margin-bottom: 12px;
    border-radius: 12px;
}

// modal


.modal-content {
    border-radius: 24px;
    overflow: hidden;
}
.close {
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 10px;
    right: 10px;
    z-index: 1;
    color: $brown;
}

.modal-location {
    .modal-header {
        border-bottom: none;
        background-color: $beige;
    }



    .modal-body {
        padding: 0;
    }

    details {
        margin-bottom: $spacer/1.5;
    }

    summary {
        margin-bottom: $spacer;
    }

    ul>li {
        margin-bottom: $spacer/2;
    }

    a:not(.btn) {
        color: $brown;
    }
}

.bg-beige {
    background-color: $beige;
}

// Winners
.winners-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

a.winner-item {
    display: flex;
    margin-bottom: 20px;
    width: 45%;
    text-decoration: none;
    transition: all .25s ease-in-out;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }

    &:hover,
    &:focus {
        opacity: .8;
    }
}

.img-winner {
    object-fit: cover;
    width: 120px;
    height: 80px;
    border-radius: 12px;
}

// dashboard
section.dashboard {
    padding-top: 34px;
    background-color: #F6F6F7;
}

.dashboard {
    color: black !important;
    font-family: Arial, Helvetica, sans-serif;

    .card {
        border-color: black;
        ;
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: $font-size-base*1.5;
        color: black;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: $font-size-base*1.25;
        ;
        color: black;
    }

    .form-control {
        border: 1px solid black;
        padding: 10px;

        &::placeholder {
            color: rgba(1, 1, 1, 0.32);
        }
    }

    .infoblock {
        border-top: 1px solid black;
        padding-top: $spacer;
        padding-bottom: $spacer;
    }

    .custom-file-label {
        border: 1px solid black;
        color: black;

        &::after {
            background-color: white;
        }
    }

    .custom-file-input:lang(en)~.custom-file-label::after {
        content: "Browse";
    }

    .blue-bubble {
        display: inline-block;
        position: relative;
        ;
        max-width: 300px;
        height: auto;
        padding: $spacer;
        background-color: #11A2F3;
        color: white;
        line-height: 1.2;
        border-radius: $spacer;

        &:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 20px;
            width: 0;
            border-top: 10px solid #11A2F3;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }

        a {
            color: white;
        }
    }

}